In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import cv2
import keras

/Users/pagidoju/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('wine reviews.csv', sep='|', names=u_cols, encoding= 'latin-1')

In [3]:
users.describe()

       age  sex  occupation  zip_code
count  0.0  0.0         0.0       0.0
mean   NaN  NaN         NaN       NaN
std    NaN  NaN         NaN       NaN
min    NaN  NaN         NaN       NaN
25%    NaN  NaN         NaN       NaN
50%    NaN  NaN         NaN       NaN
75%    NaN  NaN         NaN       NaN
max    NaN  NaN         NaN       NaN

In [4]:
users.dropna

<bound method DataFrame.dropna of                                                 user_id  age  sex  occupation  \
0     id,asins,brand,categories,dateAdded,dateUpdate...  NaN  NaN         NaN
1     AV13ClKCGV-KLJ3akN68,,Gallo,"Food & Beverage,B...  NaN  NaN         NaN
2     AV13CsvW-jtxr-f38AQO,,Fresh Craft Co.,"Food & ...  NaN  NaN         NaN
3     AV13CVI_glJLPUi8O7Po,,1000 Stories,"Food & Bev...  NaN  NaN         NaN
4     AV13CVI_glJLPUi8O7Po,,1000 Stories,"Food & Bev...  NaN  NaN         NaN
5     AV13CYL4-jtxr-f37_-t,,Wine Cube153,"Food & Bev...  NaN  NaN         NaN
6     AV6zq-akYSSHbkXwoEEj,,Beck's Na,"Food & Bevera...  NaN  NaN         NaN
7     AV13CmDIglJLPUi8O7gb,,Gallo,"Food & Beverage,B...  NaN  NaN         NaN
8     AV13CmDIglJLPUi8O7gb,,Gallo,"Food & Beverage,B...  NaN  NaN         NaN
9     AV6V57uYKZqtpbFMQNh6,,California Roots,"Food &...  NaN  NaN         NaN
10    AV13CVPUglJLPUi8O7Pw,,Charles Charles,"Food & ...  NaN  NaN         NaN
11    AV13CVPFvKc47QAVnhu7,,Fancy Pants,"Food & Beve...  NaN  NaN         NaN
12    AV13CVZBglJLPUi8O7P2,,Martini Rossi,"Food & Be...  NaN  NaN         NaN
13    AV1mGQHfglJLPUi8JCTw,,603 Brewery,"Food & Beve...  NaN  NaN         NaN
14    AV1mGQHkGV-KLJ3aeWDD,,603 Brewery,"Food & Beve...  NaN  NaN         NaN
15    AV1mGQHkGV-KLJ3aeWDD,,603 Brewery,"Food & Beve...  NaN  NaN         NaN
16    AV13CVcw-jtxr-f37_7d,,Coppola,"Food & Beverage...  NaN  NaN         NaN
17    AV6V4_75Hh53nbDR8vZn,,California Roots,"Food &...  NaN  NaN         NaN
18    AV1mGQMaGV-KLJ3aeWDQ,,Sancho Libre,"Food & Bev...  NaN  NaN         NaN
19    AV13CgROGV-KLJ3akN2P,,Modern House Wines,"Food...  NaN  NaN         NaN
20    AV13CVcMvKc47QAVnhvH,,Estancia,"Food & Beverag...  NaN  NaN         NaN
21    AV13CgrvglJLPUi8O7b7,,VOGA Italia,"Food & Beve...  NaN  NaN         NaN
22    AV13y7XRGV-KLJ3akc2y,,Michelob Ultra,"Food & B...  NaN  NaN         NaN
23    AV13CVXoGV-KLJ3akNq-,,Wine Cube153,"Food & Bev...  NaN  NaN         NaN
24    AV13CYT_glJLPUi8O7TI,,Wine Cube153,"Food & Bev...  NaN  NaN         NaN
25    AV13CVWBGV-KLJ3akNq6,,Risata,"Food & Beverage,...  NaN  NaN         NaN
26    AV13CVO7-jtxr-f37_7M,,Barefoot,"Food & Beverag...  NaN  NaN         NaN
27    AV13y6YhvKc47QAVnxEL,,Tecate,"Food & Beverage,...  NaN  NaN         NaN
28    AV13YnX5GV-KLJ3akYsQ,,Bud Light,"Food & Bevera...  NaN  NaN         NaN
29    AV6V6cbUYSSHbkXwnPAI,,California Roots,"Food &...  NaN  NaN         NaN
...                                                 ...  ...  ...         ...
2861  AV654sWNuC1rwyj_fIxg,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2862  AV654sWNuC1rwyj_fIxg,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2863  AV654sWNuC1rwyj_fIxg,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2864  AV654sWNuC1rwyj_fIxg,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2865  AV654sWNuC1rwyj_fIxg,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2866  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2867  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2868  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2869  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2870  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2871  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2872  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2873  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2874  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2875  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2876  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2877  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2878  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2879  AV654xpguC1rwyj_fI9p,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2880  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2881  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2882  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2883  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2884  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2885  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2886  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2887  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2888  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2889  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN
2890  AV654xcDYSSHbkXwoTj_,,Vintage Wine Estates,"Wi...  NaN  NaN         NaN

      zip_code
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
...        ...
2861       NaN
2862       NaN
2863       NaN
2864       NaN
2865       NaN
2866       NaN
2867       NaN
2868       NaN
2869       NaN
2870       NaN
2871       NaN
2872       NaN
2873       NaN
2874       NaN
2875       NaN
2876       NaN
2877       NaN
2878       NaN
2879       NaN
2880       NaN
2881       NaN
2882       NaN
2883       NaN
2884       NaN
2885       NaN
2886       NaN
2887       NaN
2888       NaN
2889       NaN
2890       NaN

[2891 rows x 5 columns]>