In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import cv2
import keras

/Users/pagidoju/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [4]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('wine reviews.csv', sep='|', names=u_cols, encoding= 'latin-1')

In [6]:
users.describe()

       age  sex  occupation  zip_code
count  0.0  0.0         0.0       0.0
mean   NaN  NaN         NaN       NaN
std    NaN  NaN         NaN       NaN
min    NaN  NaN         NaN       NaN
25%    NaN  NaN         NaN       NaN
50%    NaN  NaN         NaN       NaN
75%    NaN  NaN         NaN       NaN
max    NaN  NaN         NaN       NaN